container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from django.contrib.auth.models import User; User.objects.create_superuser('sanghyo', 'shc3851@likelion.org', 'lifeisegg@00')\" | python3 manage.py shell"
    leader_only: true

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: restapi/wsgi.py
